.container {
    width: 1200px;
    margin: 0 auto;
}


.row1 {
    width: 30%;
}

.row2 {
    width: 70%;
    position: relative;
}

.overview, .watch {
    margin-top: 50px;
}

.release {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: lightgray;
    font-style: italic;
}

.watch button {
    font-weight: 800;
    width: 200px;
    line-height: 3em;
    background-color: #F8104D;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform .1s;
}

.watch button:hover {
    transform: scale(1.12);
}

.img img {
    width: 250px;
}