.search {
    display: flex;
    align-items: center;
    position: relative;
    width:auto;
    justify-content: flex-end;

}

.search input {
    display: flex;
    width: 150px;
    height: 20px;
    background-color: rgba(84, 70, 160, 0.66);
    border: none;
    color: #ffffff;
    padding: 5px;
    transition: width .4s;
    border-radius: 5px;





}

.search input::placeholder {
    color: #ffffff;
    padding: 5px;
    font-style: italic;
}

.search input:focus, .search input:active {
    outline: none;
    width:250px;


}

.search input:focus::placeholder {
    color: transparent;
}

.clearSearch {
    position: absolute;
    right: 3px;
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);


}
.clearSearch:hover{
    opacity: 1;
}
