.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.search input {
    width: 200px;
    height: 20px;
    background-color: rgba(84, 70, 160, 0.66);
    border: none;
    color: #ffffff;
    padding: 5px;


}

.search input::placeholder {
    color: #ffffff;
    padding: 5px;
}

.search input:focus {
    outline: none;
}

.search input:focus::placeholder {
    color: transparent;
}

.clearSearch {
    position: absolute;
    right: 3px;
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);


}
.clearSearch:hover{
    opacity: 1;

}