.container {
    width: 1200px;
    margin: 0 auto;
    color:#ffffff
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchError {
    color:#ffffff;
    font-size: 1.4em;
    z-index: 2;
}