.container {
    text-align: center;
    background-color: #281F55;
    padding: 5px 0;
    justify-content: space-around;

    display: flex;
    margin-bottom:20px;
}

.wrapper {
    display: flex;
    align-items: center;
    width:1200px;
    justify-content: center;
}

.logo {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}


.logo img {
    background-size: cover;
    width: 170px;
}

.search {
    width: 50%;
    margin-left: 390px;
}