.container {
    display: flex;

    align-items: center;
    width:100%;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.links a {
    font-size: 1.3em;
    font-family: Georgia, serif;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    font-weight: 600;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: inline-block;
    line-height: 1em;
    color: #ffffff;
}

.links a:focus, .links a:hover {
    text-decoration: none;
    border-bottom: solid 1px;
    color: #F8104D;
    display: inline-block;
    line-height: 1em;
}