.container {
    display: flex;
    color: white;
    flex-direction: row;
    margin: 20px;
    background-color: #281F55;
    position: relative;
    border-radius: 5px;

}

.row1 {
    width: 30%;
}

.row2 {
    width: 70%;
    position: relative;
}

.overview {
    margin-top: 50px;
    padding-right: 30px;
}

.watch button {
    font-weight: 800;
    width: 200px;
    line-height: 3em;
    background-color: #F8104D;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform .1s;
    font-family: 'Goldman', cursive;
    position: absolute;
    bottom: 30px;
}

.watch button:hover {
    transform: scale(1.02);
}

.release {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: lightgray;
    font-style: italic;
}

.img img {
    width: 250px;
    height: 375px;
}