.container {
    background-color: #281F55;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;


}


.container button {
    background-color: #F8104D;
    border: none;
    color: #ffffff;
    padding: 9px 10px;
    cursor: pointer;
}
.pages{
    display: flex;
    margin:0 10px;
}
.pageNumber {
    padding: 5px;
    background-color: #1A143B;
    border: 1px solid #ffffff;
    width: max-content;
    min-width: 25px;
    text-align: center;
    cursor: pointer;

}

.pageNumber:hover {
    background-color: #F8104D;
}

.pageNumber:active {
    background-color: #F8104D;
}

.selectedPage {
    background-color: #F8104D;

}