
.title {
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    color: #F8104D;
    font-family: 'Goldman', cursive;


}

.item {
    transform: scale(0.7);
    position: relative;
}

.button button {
    font-weight: 800;
    font-size: 16px;
    width: 150px;
    line-height: 4em;
    background-color: #F8104D;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform .1s;
    position: absolute;
    top: 80%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    transition: opacity .1s;
    opacity: 0.8;
    font-family: 'Goldman', cursive;
}

.button button:hover {
    opacity: 1;
}
